
.titleline {
  font-size: 40px;
  text-decoration: bold;
  text-align: center;
}

.formattitle {
  width: 100%;
  text-align: center;
  text-decoration: bold;
  color: rgb(3, 52, 53);
display: flex;
flex-flow: row wrap;
padding: 10px;
justify-content: space-around;
align-content: flex-start;
overflow: auto;
min-height: 60px;
}